/* -------------------------------------- */
/* 🌍 Custom global styles start here */
/* -------------------------------------- */

:root {
  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Poppins', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-sans);
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 600;
}

.font-montserrat {
  font-family: var(--font-montserrat);
}
